.ant-table-wrapper {
  .ant-table {
    &-content {
      overflow-x: auto;
    }
    &-thead {
      tr {
        th {
          padding: 8px;
        }
      }
    }
    &-tbody {
      tr {
        td {
          padding: 8px;
        }
      }
    }
  }
}
.ant-popover {
  position: fixed;
  inset-inline-start: var(--spacing-6)!important;
  inset-block-start: var(--spacing-24)!important;
  .ant-popover-inner {
    height: calc(100vh - 20rem);
    overflow-y: auto;
  }
}