@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
  }
}

@media (max-width: 50rem) {
  .header {
    .header-content {
      &-bar {
        display: block;
      }

      &-nav {
        display: none;
      }
    }
  }
}

@media (max-width: 74rem) {
  .layout main .mdx-content {
    .mdx-content-left {
      width: calc(100vw - 22rem);
    }
  }
}

@media (max-width: 65rem) {
  .mdx-content-nav {
    display: none;
  }
  .layout main {
    .index-right {
      display: none;
    }

    .index-left {
      padding-right: 0;
    }
  }
  .layout main .mdx-content {
    .mdx-content-left {
      width: calc(100vw - 4rem);

      .mdx-content-left-data {
        margin: var(--spacing-10) auto 0;
      }
    }
  }
}