.index {
  display: flex;
  justify-content: center;
  &-left {
    max-width: var(--maxWidth-4xl);
    width: var(--maxWidth-full);
    padding-right: var(--spacing-8);
    &-list {
      margin-bottom: var(--spacing-8);
      &-title {
        font-size: var(--fontSize-4);
      }
      &-infos {
        color: var(--color-text-light);
        margin-top: var(--spacing-1);
        display: flex;
        align-items: center;
      }
      &-excerpt {
        margin-top: var(--spacing-4);
      }
      &-read {
        display: flex;
        justify-content: flex-end;
        a {
          display: flex;
          align-items: center;
          font-size: var(--fontSize-0);
          padding: var(--spacing-s) var(--spacing-1);
          border: 1px solid var(--color-border);
          border-radius: var(--spacing-1);
          color: var(--color-text);
          &:hover {
            //background-color: var(--color-primary-bg);
            color: var(--color-primary);
            border-color: var(--color-primary);
            text-decoration: none;
          }
        }
      }
    }
  }
  &-right {
    height: 100%;
    position: sticky;
    top: var(--spacing-32);
    width: var(--maxWidth-xxs);
    min-width: var(--maxWidth-xxs);
    padding: 0 var(--spacing-8);
    border-left: 1px solid var(--color-border);
  }
}