.index {
  display: flex;
  justify-content: center;
  padding: var(--spacing-16) 0;
  &-left {
    max-width: var(--maxWidth-4xl);
    width: var(--maxWidth-full);
    padding-right: var(--spacing-8);
  }
  &-right {
    height: 100%;
    position: sticky;
    top: var(--spacing-32);
    width: var(--maxWidth-xxs);
    min-width: var(--maxWidth-xxs);
    padding: 0 var(--spacing-8);
    border-left: 1px solid var(--color-border);
  }
}