.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid var(--color-border);
  z-index: 1;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--maxWidth-9xl);
    margin: 0 auto;
    padding: 0 2rem;

    &-title {
      font-size: var(--fontSize-5);
      padding: var(--spacing-2) 0;

      &-link {
        color: var(--color-heading-black);

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      .ant-dropdown-open {
        background-color: var(--color-primary-bg-light);
        color: var(--color-primary);
      }
      &__dropdown {
        display: flex;
        cursor: pointer;
        padding: var(--spacing-2) var(--spacing-4);
        border-radius: var(--spacing-1);
      }
      &__div {
        border-radius: var(--spacing-1);
        &:hover {
          background-color: var(--color-primary-bg-light);
          a {
            color: var(--color-primary);
            text-decoration: unset;
          }
        }
        a {
          display: block;
          padding: var(--spacing-2) var(--spacing-4);
          color: var(--color-text);
          font-size: 14px;
        }
      }
    }
  }
}