.layout {
  margin: auto;
  .heading {
    color: var(--color-primary);
  }
  main {
    max-width: var(--maxWidth-9xl);
    margin: 0 auto;
    padding: var(--spacing-16) var(--spacing-8);
    .mdx-content {
      display: flex;
      justify-content: center;
      &-nav {
        padding: 0 0 0 var(--spacing-16);
        position: sticky;
        width: 18rem;
        top: 15rem;
        max-height: calc(((100vh - 17rem) - 3rem) - 3rem);
        flex-shrink: 0;
        .ant-anchor-link-title {
          &-active,
          &:hover {
            color: var(--color-primary);
            text-decoration: underline;
          }
        }
      }
      &-data {
        max-width: 52rem;
      }
    }
  }
  header {
    font-size: var(--spacing-12);
    color: gray;
    font-weight: 700;
    margin: var(--spacing-12) 0;
  }

  .index {
    display: flex;
    justify-content: space-between;
    &-left {
      width: var(--maxWidth-full);
      padding-right: var(--spacing-8);
      &-list {
        margin-bottom: var(--spacing-8);
        &-title {
          font-size: var(--fontSize-4);
        }
        &-date {
          margin-top: var(--spacing-1);
          display: flex;
          align-items: center;
        }
        &-excerpt {
          margin-top: var(--spacing-4);
        }
        &-read {
          display: flex;
          justify-content: flex-end;
          a {
            display: flex;
            align-items: center;
            font-size: var(--fontSize-0);
            padding: var(--spacing-s) var(--spacing-1);
            border: 1px solid var(--color-border);
            border-radius: var(--spacing-1);
            color: var(--color-text);
            &:hover {
              //background-color: var(--color-primary-bg);
              color: var(--color-primary);
              border-color: var(--color-primary);
              text-decoration: none;
            }
          }
        }
      }
    }
    &-right {
      height: 100%;
      position: sticky;
      top: var(--spacing-32);
      width: var(--maxWidth-xs);
      min-width: var(--maxWidth-xs);
      padding: 0 var(--spacing-8);
      border-left: 1px solid var(--color-border);
    }
  }
}

@media (max-width: 65rem) {
  .mdx-content-nav {
    display: none;
  }
  .index-right {
    display: none;
  }
}
