.layout {
  margin: auto;
  main {
    padding: 0 var(--spacing-8);
    max-width: var(--maxWidth-9xl);
    margin: 0 auto;
    .mdx-content {
      display: flex;
      justify-content: center;
      padding: 0 0 var(--spacing-16);
      &-left {
        width: var(--maxWidth-4xl);
        min-height: calc(100vh - 8rem);
        &-heading {
          text-align: center;
          margin-top: var(--spacing-8);
          margin-bottom: var(--spacing-4);
        }
        &-data {
          margin-top: var(--spacing-10);
          max-width: var(--maxWidth-4xl);
          > img {
            display: block;
            margin: 0 auto;
          }
          &-pagination {
            margin-top: var(--spacing-10);
            border-top: 1px dashed #ddd;
            border-bottom: 1px dashed #ddd;
            padding: var(--spacing-6) 0;
            &-prev{
              text-align: left;
              &-title {
                margin-right: var(--spacing-2);
                font-size: var(--fontSize-0);
              }
            }
            &-next {
              margin-top: var(--spacing-2);
              text-align: right;
              &-title {
                margin-left: var(--spacing-2);
                font-size: var(--fontSize-0);
              }
            }
          }
        }
        &-infos {
          display: flex;
          justify-content: center;
          &>.ant-space-item {
            display: flex;
          }
        }
      }
      &-nav {
        padding: 0 0 0 var(--spacing-16);
        position: sticky;
        width: 18rem;
        top: 15rem;
        max-height: calc(((100vh - 17rem) - 3rem) - 3rem);
        flex-shrink: 0;
        .ant-anchor-link-title {
          color: #78757a;
          &-active,
          &:hover {
            color: var(--color-primary);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
