.layout {
  margin: auto;
  max-width: 90vw;
  padding: 0 2rem;
  font-family: sans-serif;
  .heading {
    color: var(--color-primary);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    .nav-link-item {
      padding-right: 2rem;
      .nav-link-text {
        color: black;
      }
    }
  }
  main {
    padding: 0 2rem 0 4rem;
    .mdx-content {
      display: flex;
      &-nav {
        padding: 0 0 0 4rem;
        position: sticky;
        width: 18rem;
        top: calc(8rem);
        max-height: calc(((100vh - 17rem) - 3rem) - 3rem);
        flex-shrink: 0;
      }
      &-data {
        padding-top: 1.5rem;
      }
    }
  }
  header {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }
}
