.timeline {
  padding-block-start: var(--spacing-2);

  &-title {
    display: flex;
    align-items: center;
    border-block-end: 1px solid var(--color-border);
    padding-block-end: var(--spacing-1);

    &-div {
      margin-inline-start: var(--spacing-2);
    }
  }

  &-list {
    padding: var(--spacing-2) 0;

    &-line {
      color: var(--color-text-light);
      display: flex;
      padding-block-end: var(--spacing-1);
      cursor: pointer;

      &-active,
      &:hover {
        color: var(--color-primary);
      }

      &-count {
        margin-inline-start: var(--spacing-2);
      }
    }
  }
}