.front-end {
  max-width: var(--maxWidth-4xl);
  margin: 0 auto;
  &-title {
    padding: var(--spacing-6) var(--spacing-6) 0;
    text-align: center;
    font-size: var(--fontSize-7);
  }
  &-total {
    padding-bottom: var(--spacing-6);
    text-align: center;
    font-size: var(--fontSize-1);
  }
}