.footer {
  margin: var(--spacing-20) auto 0;
  max-inline-size: var(--maxWidth-9xl);
  &-copy {
    border-block-start: 1px solid var(--color-border);
    text-align: center;
    padding: var(--spacing-12) 0;
  }
}